.calendar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.calendar-weekdays {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #f5f5f5;
  text-align: end;
  color: #5e6d55;
  font-size: 18px;
  border-bottom: 2px solid #14a800;
}

.calendar-weekdays div {
  width: calc(100% / 7);
}

.calendar-days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #f5f5f5;
  text-align: end;
}

.calendar-days div {
  width: calc(100% / 7 - 4px);
  height: 5rem;
  cursor: pointer;
}

.calendar-day {
  border: 2px dashed #14a800;
  margin-bottom: 16px;
}

.calendar-day--previous-month {
  border: 2px dashed #14a800;
  margin-bottom: 16px;
  background-color: #e4ebe4;
  color: #5e6d55;
}

.calendar-day--next-month {
  border: 2px dashed #14a800;
  margin-bottom: 16px;
  background-color: #e4ebe4;
  color: #5e6d55;
}